.bold                           { font-weight: 600; }
.row                            { overflow: hidden; }
.close                          { clear: both; color: $darkgrey; font-size: 4rem; opacity: 1; }
.drag                           { margin-right: 10px; width: 25px;
  .icon-bar                     { border: 2px solid $lightgrey; border-radius: 1px; margin-bottom: 3px; }
}

// HEADER
header.header                   { border-bottom: 1px solid $black; margin-bottom: 15px;
  h1                            { color: $red; font: 300 36px $title-font; }
}

// SIDEBAR
aside.sidebar                   { border-right: 1px solid $lightgrey; padding-bottom: 5000px; margin-bottom: -5000px; }

// MAIN
.main                           {
  p                             { margin: 0; }
  h1                            { color: $red; font: 100 40px $title-font; margin-bottom: 10px; text-align: center; }
  h2                            { border-bottom: 1px solid $lightgrey; font: 400 20px $title-font; letter-spacing: -.5px; margin: 40px 0 20px; text-transform: uppercase;
    span                        { color: $lightgrey; }
    a span                      { color: $buttonblue; }
  }
}
form.custom-form                {
  label                         { font-size: 16px; font-family: $serif-font; }
  input,
  select,
  textarea                      { /*border: none;*/ border-radius: 0; box-shadow: none; font-size: 16px; }
  .resetsave                    { margin: 30px 0 20px;
    button                      { border: none; font-family: $serif-font; padding: 12px 50px; text-transform: uppercase; text-shadow: none;
      &.btn-default             { background: $lightgrey; color: $darkgrey; }
      &.btn-primary             { background: $buttonblue; }
    }
  }
  .taggroup                     { border: 1px solid $lightgrey; padding: 6px 12px;
    .newtag                     { border: none; }
  }
  .label                        { background: $lightgrey; border-radius: 0; color: $darkgrey; font-size: 1.6rem; font-weight: 400; padding: 5px 10px; }
}
a.circle                        { border: 1px solid $blue; border-radius: 100%; color: $blue; display: inline-block; height: 20px; text-align: center; width: 20px;  
  i                             {  }
}